.git
.gitignore
**/.DS_Store

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv
**/venv
**/env

**/node_modules
frontend/dist
frontend/dist-ssr

.env
**/.env
**/.env.local
**/.env.*.local
backend/secrets

backend/media
backend/static
backend/staticfiles
backend/*.log
frontend/*.log

**/.vscode
**/.idea
**/*.md
docker-compose.yml
docker-compose*.yml
