dj-database-url==3.1.2
Django==6.0.5
boto3==1.42.33
django-cors-headers==4.9.0
django-filter==25.2
django-storages==1.14.6
djangorestframework==3.17.1
drf-spectacular>=0.27.0
djangorestframework_simplejwt==5.5.1
firebase-admin>=6.0.0
geopy==2.4.1
googlemaps==4.10.0
gunicorn==26.0.0
pillow==12.2.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
requests==2.34.1
stripe==15.1.0
whitenoise==6.12.0
